#about {
    padding-top: 80px;
}
.tab-titles {
    display: flex;
    margin: 20px 0 40px;
}
.tab-links {
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after {
    content: '';
    width: 0;
    height: 3px;
    background-color: cyan;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
    border-radius: 10px;
}
/* .tab-links:hover::after {
    width: 100%;
} */
.tab-links.active-link::after {
    width: 50%;
}

.tab-contents ul li {
    list-style: none;
    margin: 10px 0;
}
.tab-contents ul li span {
    color:cyan;
    font-size: 14px;
}
.tab-contents {
    display: none;
}
.tab-contents.active-tab {
    display: block;
}

.Scard {
    width: 300px;
    height: 230px;
    border-radius: 20px;
    padding: 20px;
    background-color: rgba(228, 227, 227, 0.758);
    transition: background-color 0.5s, transform 0.5s;
    margin-bottom: 20px;
}
#si{
    font-size: 40px;
}
.Scard div {
    margin: 20px;
}
.Pcard {
    width: 350px;
    height: 250px;
    border-radius: 10px;
    transition: background-color 0.5s, transform 0.5s;
    margin-bottom: 20px;
    border: 1px solid violet;
}

.card-con {
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#skname, #skdis{
    cursor: default;
}
#skname {
    font-size: 22px;
    margin-top: 10px;
}
#skdis {
    font-size: 15px;
}
#sl {
    font-size: 12px;
    cursor: pointer;
}
.Scard:hover {
    background-color: rgb(110, 231, 225)!important;
    transform: translateY(-10px);
    color: black!important;
}
/* .Pcard:hover {

} */
.layer {
    width: 100%;
    height: 0%;
    background: linear-gradient(rgba(0,0,0,0.8),cyan);
    position: absolute;
    bottom: 0;
    left: 0;
    transition: scale 0.5s, height 0.5s;
    border-radius: 10px;
    text-align: center;
}
.layer i {
    background-color: white;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    padding-top: 11px;
    color: black;
}
.layer i:hover {
    transform: scale(1.1);

}
.Pcard img {
    transition: transform 0.5s;
}

.Pcard:hover img{
    transform: scale(1.1);
}

.Pcard:hover .layer {
    height: 100%;
}

.contcon {
    width: 400px;
    height: 400px;
}
.contcon i {
    width: 28px;
    height: 25px;
    text-align: center;
    border-radius: 17px;
    padding-top: 4px;
    color: cyan;
}
.butdiv {
    margin-top: 100px;
}
.but {
    font-size: 24px;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: cyan;
    font-family: consolas;
    box-shadow: 0px 0px 5px cyan,
    0px 0px 2px cyan;
    text-decoration: none;
    color: black;
}
.but:hover {
    box-shadow: 0px 0px 5px cyan,
    0px 0px 25px cyan,
    0px 0px 50px cyan,
    0px 0px 100px cyan;
}

.but1 {
    width: 100px;
    height: 40px;
    border: 2px solid cyan;
    border-radius: 5px;
    background-color: white;
    font-size: 16px;
    margin-top: 20px;
    
    transition: all 0.5s ease;
}
.but1:hover {
    transform: translateY(-10px);
    box-shadow: 0px 0px 5px cyan,
    0px 0px 25px cyan;
}

.Pcard .layer div {
    margin-top: 80px;
}
.frm input {
    display: block;
    width: 500px;
    height: 40px;
    background-color: rgba(112, 111, 111, 0.739);
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-bottom: 10px;
    font-size: 14px;
    color: white;
}
.frm input::placeholder {
    color: rgb(160, 159, 159);
    font-style: italic;
    font-size: 14px;
    opacity: 1;
}

.frm input:focus,#text-area:focus{
    outline: none;
}
.frm {
    margin-left: 40%;
}
#contact {
    margin-top: 8%;
}
.title {
    margin-bottom: 40px;
}
#projects {
    margin-top: 8%;
}
#Services {
    margin-top: 8%;
}

#text-area {
    width: 500px;
    background-color: rgba(112, 111, 111, 0.739);
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-bottom: 10px;
    font-size: 14px;
    color: white;
}
#text-area::placeholder {
    color: rgb(160, 159, 159);
    font-style: italic;
    font-size: 14px;
    opacity: 1;
}
.sub {
    width: 160px;
    height: 60px;
    border: 2px solid cyan;
    background-color: transparent;
    border-radius: 10px;
    color: white;
    margin-top: 20px;
    font-size: 16px;
    cursor: pointer;
    position: relative;

}
.sub:hover {
    box-shadow: 0px 0px 5px cyan,
    0px 0px 25px cyan;
}

.err {
    background-color: transparent;
    color: white;
    border: none;

}
.error-message {
    color: #dc3545;
    font-family: "Roboto";
    font-size: 14px;
}


.sub:disabled {
  cursor: not-allowed;
}

.loader {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    gap: 5px;

  }
  
  .loader div {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: white;
    animation: pulse 1.2s infinite ease-in-out;
  }
  
  .loader div:nth-child(1) {
    animation-delay: 0s;
  }
  
  .loader div:nth-child(2) {
    animation-delay: 0.1s;
  }
  
  .loader div:nth-child(3) {
    animation-delay: 0.2s;
  }
  
  @keyframes pulse {
    0% {
      transform: scale(0.5);
      opacity: 0.3;
    }
    50% {
      transform: scale(1);
      opacity: 1;
    }
    100% {
      transform: scale(0.5);
      opacity: 0.3;
    }
  }

/* Error message styling */
.error-message {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}


/* scroll animations */

/* Modal styles */
.success-modal {
    position: relative;
    top: 20%;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    max-width: 500px;
    margin: auto;
    text-align: center;
  }
  
  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-content h2 {
    margin-bottom: 20px;
    font-size: 24px;
  }
  
  .modal-content p {
    margin-bottom: 20px;
    font-size: 18px;
  }
  
  .modbut {
    padding: 10px 20px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .modbut:hover {
    background-color: #45a049;
  }
  #about {
    margin-bottom: 230px;
  }
  #projects {
    margin-top: 80px;
    padding-top: 80px;
  }
#aboutcon {
    border: 3px solid cyan;
    width: 320px;
    height: 320px;
    border-radius: 50px;
    position: relative;
    padding: 10px;
    margin-top: 40px;
  }
  #abtimg {
    background-image: url('../images/profilepic.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50px;
    width: 300px;
    height: 300px;
    position: absolute;
    top: 8px;
    left: 8px;
}
