.con-1 {
    margin-top: 5%;
}
.header-text h1 {
    font-size: 40px;
}
#name {
    color: #24c9df;
}
.pic1 {
    width: 340px;
    height: 400px;
}
#home {
    margin-top: 10%;
    margin-bottom: 2%;
}
.title {
    margin-bottom: 40px;
}