.con-1 {
    margin-top: 5%;
}
.header-text h1 {
    font-size: 40px;
}
#name {
    color: #24c9df;
}
.pic1 {
    width: 340px;
    height: 400px;
}
#home {
    margin-top: 10%;
    margin-left: 130px;
    margin-bottom: 160px;
}
.title {
    margin-bottom: 40px;
}
.profile-con {
    border: 3px solid cyan;
    width: 320px;
    height: 320px;
    border-radius: 250px;
    position: relative;
    padding: 10px;
    
}
.profile {
    background-image: url('../images/images.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 300px;
    height: 300px;
    border-radius: 250px;
    position: absolute;
    top: 8px;
    left: 8px;
}
